* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  display: block;
}

section.hero {
  width: 80vh;
  height: 80vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
